.addingPage .semi-form-field {
  text-align: center !important;
}
.addingPage .bottomBtn {
  margin-top: 30px;
  padding-left: 38%;
  padding-right: 10%;
  display: flex;
  justify-content: space-around;
}
