.settingPage .cardGroup {
  margin-top: 40px;
}
.settingPage .cardGroup .cardBox {
  margin-bottom: 20px !important;
}
.settingPage .chartGroup {
  margin-top: 40px;
}
.settingPage .chartGroup .columnChart {
  background-color: rgba(var(--semi-green-1), 1);
  min-height: 200px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.settingPage .chartGroup .circleChart {
  background-color: rgba(var(--semi-yellow-1), 1);
  min-height: 200px;
  border-radius: 8px;
}
.settingPage .lineChartBox {
  width: 100% ;
  height: 400px;
  margin-top: 40px;
  background-color: rgba(var(--semi-purple-1), 1);
  border-radius: 8px;
}
