.settingPage .cardGroup {
  margin-top: 40px;
}
.settingPage .cardGroup .cardBox {
  margin-bottom: 20px !important;
}
.settingPage .chartGroup {
  margin-top: 40px;
}
.settingPage .chartGroup .columnChart {
  min-height: 200px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.settingPage .chartGroup .circleChart {
  min-height: 200px;
  border-radius: 8px;
}
.settingPage .lineChartBox {
  width: 100% ;
  height: 400px;
  margin-top: 40px;
  border-radius: 8px;
}
.settingPage .dividerBox {
  color: rgba(var(--semi-blue-5), 1);
  padding-left: 10px !important;
  margin-right: 10px;
}
.settingPage .dividerBox .dividerTitle {
  font-size: 18px !important;
  font-weight: 700 !important;
  margin-left: 29px;
}
